/* =========================
   CSS GIMNASIO ASIR
   ========================= */
/* Selector Universal */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 100px;
  background-color: aquamarine;
}

#headerPrincipal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background-color: rgb(166, 236, 236);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tituloEncabezado {
  display: flex;
  align-items: center;
}

#tituloEncabezado img {
  height: 60px;
  width: auto;
  margin-right: 15px;
  border-radius: 50%;
}

#tituloEncabezado h1 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.EncabezadoLinks {
  display: flex;
  gap: 15px;
}

.navBoton {
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-weight: bold;
}
.navBoton:hover {
  background-color: #d50f0f;
}

#Registrarse {
  background-color: blue;
  color: white;
  border: none;
}

#Registrarse:hover {
  background-color: red;
}
